<tr>
    <th>{{id}}</th>
    <th><img src="/img/{{img}}"></th>
    <th>{{name}}</th>
    <th>{{size}}</th>
    <th>{{type}}</th>
    <th><form action="del/{{id}}" method="post"><input type="submit" value="DELETE"></form></th>
    <th><form action="info/{{id}}" method="post"><input type="submit" value="INFO"></form></th>
    <th><form action="download/{{id}}" method="post"><input type="submit" value="DOWNLOAD"></form></th>
</tr>