<div class="row1">
    <div class="grayDivFile1" style="20%">
        <div class="font">File info</div>
    </div>
    <div style="float: left;">
        <div class="aa"><a class="aaa">id:</a> {{id}} </div>
        <div class="aa"><a class="aaa">name:</a> {{name}} </div>
        <div class="aa"><a class="aaa">path:</a> {{path}} </div>
        <div class="aa"><a class="aaa">size:</a> {{size}} </div>
        <div class="aa"><a class="aaa">type:</a> {{type}} </div>
        <div class="aa"><a class="aaa">savedate:</a> {{date}} </div>
    </div>
</div>
